body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100vw;
  align-items: center;
}

#root{
  display: grid;
  grid-template-columns: repeat(2, 1frf);
  grid-template-rows: auto auto auto;
  min-width: 95vw;
  gap: 10px;
}

.title{
  grid-column: 1/ 3;
display: flex;
margin: 0;
justify-content: center;
}


/* Personal Form */

.form{
  grid-column: 1/2;
  grid-row: 2/3;
}

form{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

form button{
  width: 100px;
}

.form-button{
  display: flex;
  justify-content:space-around;
}


.label{
  display: flex;
  gap: 20px;
  justify-content: center;
}

/* Education Form */

.form-e{
  grid-column: 1/2;
  grid-row: 3/4;

}

form.form-e{
  grid-column: 1/2;
  grid-row: 3/4;
  display: flex;
  flex-direction: column;
  gap: 10px;
  
  
}

form.form-e button{
  width: 100px;
}

.form-button-e{
  display: flex;
  justify-content:space-around;
}


.label-e{
  display: flex;
  gap: 20px;
  justify-content: center;
}


/* Output */

.output{
  grid-column: 2/3;
  grid-row: 2/4;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  align-items: center;
  gap: 10px;
}

.outputPara{
  margin: 0;
}